<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaga Criada</title>
</head>
<body>
    <h1>Vaga Criada!</h1>
    <p>Olá {{name}}, a vaga foi criada com sucesso.</p>
    <p>Você pode conferir mais detalhes sobre a vaga <a href="{{url}}">aqui</a>.</p>
</body>
</html>