<html>
  <body>
    <center>
      <div
        style='
          background-color: #03123b;
          max-width: 840px;
          margin: 0;
          padding: 40px;
        '
      >
        <div
          style='
            margin: 20px auto;
            width: 20rem;
            margin: 1px 2px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          '
        >
          <h1 style='color: white'>Vagas-BackEnd</h1>
        </div>

        <h2 style='color: #f8f5f5; text-align: center'>
          {{name}}, sua conta foi criada com sucesso!
        </h2>

        <p style='color: rgb(250, 249, 249)'>
          Para ativar sua conta selecione o link abaixo:
        </p>

        <div
          style='
            margin: 20px auto;
            width: 5rem;
            margin: 10px 20px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          '
        >
          <a
            href='{{url}}'
            target='_blank'
            rel='noopener noreferrer'
            style='
              text-decoration: none;
              color: #f7f7f8;
              font-size: 18px;
              margin: 0 auto;
              width: 5rem;
            '
          >
            Vagas-BackEnd
        </div>
      </div>
    </center>
  </body>
</html>