<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body style='font-family: "Arial", sans-serif'>
	<div style="display: block; text-align: center; justify-content: center">
		<header style="padding-top: 70px; padding-bottom: 40px">
			<img src="https://vagas-dev.s3.amazonaws.com/1683042170644logo2.png" alt="Logo">
		</header>
		<main>
			<div style="border: 1px solid #ccc; width: 90vmin; padding-bottom: 50px; position: relative; margin: auto; margin-bottom: 10px">
				<div style="background-color: #CBE0F4">
					<img style="position: relative; top: 10px" src="https://vagas-dev.s3.amazonaws.com/1683059343660special-details1.png" alt="sucesso">
				</div>
				<div>
					<h1 style="color: #046AD0; font-size: 48px">Senha redefinida</h1>
					<div style="font-size: 24px; line-height: 32px; opacity: 0.8; padding-bottom: 30px">
						<p style="margin: 0">Olá, {{name}}!</p>
						<p style="margin: 0">Você redefiniu a sua senha.</p>
						<p style="margin: 0">Obrigado por utilizar o nosso site.</p>
					</div>
					<div>
						<span style="color: #046AD0; font-size: 18px">-Equipe SouJunior</span>
					</div>
				</div>
			</div>
		</main>
	<footer >
		<small>
			<div style="color: #5D5F5D; padding-top: 30px; padding-bottom: 20px">
				<p style="margin: 0">Volte para a página de login:</p>
				<a style="color: #5D5F5D; text-decoration: none; line-height: 24px" href="https://vagas-front-end.netlify.app/login">
					www.portaldevagas.com.br
				</a>
			</div>
			<div style="color: #C1292E; font-size: 14px; font-weight: 600">
				<p>Esta é uma mensagem automática. Por favor não responda este e-mail.</p>
			</div>
		</small>
	</footer>
	</div>
</body>
</html>