<html>
  <body>
    <center>
      <div
        style='
          background-color: #03123b;
          max-width: 840px;
          margin: 0;
          padding: 40px;
        '
      >
        <div
          style='
            margin: 20px auto;
            width: 20rem;
            margin: 1px 2px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          '
        >
          <h1 style='color: white'>Vagas-BackEnd</h1>
        </div>

        <h2 style='color: #f8f5f5; text-align: center'>
          {{name}}, sua senha foi alterada com sucesso
        </h2>

        <div
          style='
            margin: 20px auto;
            width: 5rem;
            margin: 10px 20px;
            background-color: #4c7ee9;
            border-radius: 5px;
            text-align: center;
          '
        >
            Vagas-BackEnd
          </a>
        </div>
      </div>
    </center>
  </body>
</html>