<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Radio Canada' rel='stylesheet'>

	<title>Recuperação de senha</title>

	<style type="text/css">

		body{
			font-family: "Radio Canada";
		}

		header {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			flex-wrap: wrap;
		}

		.background-blue-light {
			background-color: #CBE0F4;
		}

		.background-blue {
			background-color: #046AD0;
		}

		.img {
			position: relative;
			top: 14px;
		}

		button.background-blue {
			color: #D7D9D7;
			padding: 12px 16px;
			border-style: none;
			border-radius: 8px;
		}

		.color-blue {
			color: #046AD0;
		}

		h1.color-blue {
			font-size: 48px;
		}

		.text-gray {
			color: #5D5F5D;
			line-height: 22px;
		}

		a.text-gray {
			text-decoration: none;
		}

		.icons {
			text-decoration: none;
		}

		.text-red {
			color: #C1292E;
			font-size: 14px;
			font-weight: 600;
		}

		.text-main {
			font-size: 24px;
			line-height: 32px;
			opacity: 0.8;
			padding-bottom: 30px;
		}

		.box {
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
			width: 90vmin;
			padding-bottom: 50px;
			margin-bottom: 15px;
		}

		.link {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.no-spacing {
			margin: 0;
		}

		.gap {
			margin-right: 20px;
		}

	</style>
</head>
<body>
	<div class="container">
		<header>
			<img src="https://i.imgur.com/HjfJAQd.png" alt="Logo">
		</header>
		<main class="box">
			<div>
				<div class="background-blue-light">
					<img class="img" src="https://i.imgur.com/le7MQke.png" alt="Lupa">
				</div>
				<div>
					<h1 class="color-blue">Recuperação de senha</h1>
					<div class="text-main">
						<p class="no-spacing">Olá, {{name}}!</p>
						<p class="no-spacing">Você solicitou a <strong>recuperação de senha</strong> para acesso ao seu perfil da plataforma <strong>SouJunior</strong>.</p>
						<p class="no-spacing">Para criar uma nova senha de acesso, clique no botão abaixo.</p>
					</div>
				</div>
        <a
        href='{{url}}'
        target='_blank'
        >
        <button class="background-blue">
					Recuperar minha senha
				</button>
        </a>
				
			</div>
		</main>
		<footer>
			<small>
				<div>
					<div class="text-gray">
						<strong>Não foi você?</strong>
						<p class="no-spacing">
							Se não realizou nenhuma solicitação para recuperar sua senha na plataforma SouJunior, por favor, desconsidere este e-mail.
						</p>
					</div>
					<div>
						<p class="text-gray">Nos acompanhe nas redes sociais</p>
						<a href="https://www.instagram.com/soujunior.tech/" class="gap icons">
							<img src="https://i.imgur.com/2PSmKoI_d.webp" alt="Instagram">
						</a>
						<a href="https://www.youtube.com/@soujuniortech" class="gap icons">
							<img src="https://i.imgur.com/EpdiQkB_d.webp" alt="YouTube">
						</a>
						<a href="https://www.linkedin.com/company/soujunior/">
							<img src="https://i.imgur.com/2GyrgQR_d.webp" alt="LinkedIn">
						</a>
					</div>
					<div class="link">
						<a class="text-gray" href="https://www.soujunior.tech/">
							https://www.soujunior.tech/
						</a>
					</div>
				</div>
				<div class="text-red">
					<p>Esta é uma mensagem automática. Por favor não responda este e-mail.</p>
				</div>
			</small>
		</footer>
	</div>
</body>
</html>
